@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

li:hover {
  color: #ff0000; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #ff0000; }

img {
  border: 0; }

.clear {
  clear: both; }

body {
  /*border:1px solid red;*/
  background-color: #ffffff;
  font: 14px 微软雅黑,黑体,Verdana,Arial,sans-serif;
  color: #333333;
  /*width:100%;*/
  margin: 0 auto;
  /*position:relative;*/ }

#wrap {
  width: 1366px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

.wrap-top {
  width: 1366px;
  height: 70px;
  background-color: #222222;
  position: fixed;
  z-index: 30; }

.wrap-top-left li a, .wrap-top-right li a {
  color: #ffffff; }

#logo a {
  display: block;
  float: left;
  margin-left: 110px;
  width: 200px;
  height: 70px;
  background: url(../image/logoMsg.png) no-repeat; }

.wrap-top-left {
  line-height: 70px; }

.wrap-top-left li {
  display: inline-block;
  float: left;
  color: #ffffff;
  margin: 0 10px; }

.new-moive {
  padding-top: 25px; }

.new-moive a {
  display: block;
  width: 40px;
  height: 20px;
  background: url(../image/new.png) no-repeat; }

.wrap-top-right {
  height: 70px;
  line-height: 70px;
  float: right;
  margin-right: 60px; }

.wrap-top-right input {
  height: 30px;
  border-radius: 5px; }

.wrap-top-right a {
  margin-left: 20px;
  color: #f9f9f9; }

/*轮播*/
.banner {
  position: relative;
  width: 1366px;
  height: 520px;
  margin-top: 70px;
  background: url(../image/bannerbg.png) no-repeat; }

.aside-left {
  width: 875px;
  height: 520px; }

.aside-left .focus-box {
  width: 875px;
  height: 480px;
  overflow: hidden;
  position: relative; }

.lbpic {
  width: 3550px;
  height: 520px;
  position: absolute;
  top: 40px;
  left: 20px; }

.lbpic li {
  float: left; }

.lbpic img {
  z-index: 10;
  vertical-align: bottom; }

.page-con {
  position: absolute;
  z-index: 10;
  bottom: 70px;
  left: 400px;
  width: 240px;
  margin: 0 auto; }

.page-con li {
  float: left;
  /*border:1px solid red;*/
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: #8c8c8c; }

/*banner右侧*/
.aside-right {
  position: absolute;
  top: 40px;
  right: 20px;
  overflow: hidden;
  float: right;
  width: 310px;
  height: 370px;
  background: #ffffff; }

.aside-right h3 {
  text-indent: 1em; }

.aside-right-img a {
  display: block;
  width: 253px;
  height: 105px;
  margin: 20px auto; }

.aside-right ul {
  margin: 30px 5px; }

.aside-right ul li {
  margin-top: 15px;
  margin-bottom: 15px;
  text-indent: 1em; }

.aside-right ul li a {
  font-size: 1.1em;
  color: #333; }

.aside-right ul li:nth-child(2) {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc; }

/*主要内容*/
main {
  width: 1140px;
  margin: 25px auto;
  overflow: hidden; }

/*第一条内容*/
.section1 {
  position: relative;
  width: 1140px;
  margin: 25px auto;
  overflow: hidden; }

.main1, .main3 {
  width: 192px;
  height: 320px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 10px; }

.main1 a:first-child, .main3 a:first-child {
  display: block;
  width: 190px;
  height: 236px; }

.main1 p a, .main3 p a {
  display: block;
  width: 190px;
  height: 30px;
  color: #333;
  text-indent: 1em;
  margin: 10px 5px; }

.main1 img, .main3 img {
  width: 190px;
  height: 236px; }

/*右侧首页*/
.main1-right {
  /*float:right;*/
  margin: 10px;
  border: 1px solid #ccc;
  width: 260px;
  height: 300px;
  border-radius: 0;
  position: absolute;
  top: 0px;
  right: 5px; }

.main1-right img {
  margin: 10px 15px; }

.main1-right h4 {
  margin: 10px 0;
  text-indent: 1em;
  width: 260px;
  height: 50px;
  line-height: 50px; }

.main1-right h4 span {
  padding-right: 10px;
  display: inline-block; }

.main1-right h4 span:first-child {
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  border-radius: 10px 10px 0 0; }

.main1-right h4 span:last-child {
  width: 100px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 10px 0 0 10px; }

.main1-right p {
  margin: 20px 0 20px 10px;
  height: 30px;
  line-height: 30px; }

.main1-right p a {
  color: #333; }

.main1-right .hr {
  border-bottom: 1px dashed #ccc; }

/*广告横条*/
.section2 {
  width: 1140px; }

.section img {
  width: 1140px; }

/*section3*/
.section3 {
  position: relative;
  /*border:1px solid red;*/
  width: 1140px;
  margin: 0 auto; }

.section3 .sec3-left {
  /*border:1px solid red;*/
  width: 850px;
  overflow: hidden; }

.section3 .sec3-left hr {
  margin-top: 38px;
  border-bottom: 1px solid #ccc; }

.section3 .sec3-left .nav li {
  float: left;
  padding: 10px 20px;
  border-bottom: 2px solid #333; }

#radius {
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  float: left;
  padding: 10px 20px; }

.main3 {
  width: 190px;
  height: 380px;
  margin: 10px 10px; }

.main3 a:first-child {
  display: block;
  width: 190px;
  height: 260px; }

.main3 p {
  /*border:1px solid red;*/
  width: 190px;
  height: 60px; }

.main3 p span {
  font-size: 2em;
  color: #2ed2c1; }

/*section3右侧caidan*/
.sec3-right {
  width: 280px;
  float: right;
  /*margin-top:-860px;*/
  position: absolute;
  top: 5px;
  right: 10px; }

.sec3-header h4 {
  height: 30px;
  line-height: 30px;
  text-indent: 1em;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #2ed2c1; }

.sec3-header h4 span {
  font-size: 0.1em; }

.sec3-box {
  margin: 15px 0;
  height: 127px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }

.sec3-box > a {
  display: block;
  width: 79px;
  height: 127px;
  float: left; }

.sec3-box > a img {
  display: block;
  width: 79px;
  height: 127px;
  float: left; }

.sec3-box1-right {
  width: 180px;
  height: 127px;
  float: right; }

.sec3-box1-right li {
  margin-top: 10px; }

.sec3-box1-right span {
  color: #2ed2c1; }

#seekall {
  color: #2ed2c1; }

/*场馆推荐*/
.plaza-left h3 {
  font-family: "Adobe 宋体 Std L";
  float: left;
  width: 600px;
  height: 30px;
  line-height: 30px; }

.plaza-left h4 {
  font-family: "Adobe 宋体 Std L";
  color: #2ed2c1;
  float: right;
  height: 30px;
  line-height: 30px; }

.plaza1 {
  text-indent: .5em;
  border: 1px solid #ccc;
  width: 410px;
  float: left;
  overflow: hidden;
  margin: 5px;
  border-radius: 10px; }

.plaza1 img {
  width: 400px;
  padding: 5px; }

.plaza1 ul li {
  margin-top: 10px; }

.plaza-right {
  border: 1px solid #ccc;
  width: 280px;
  float: right;
  /*margin-top:-450px;*/
  border-radius: 15px;
  position: absolute;
  top: 840px;
  right: 5px; }

.plaza-right h4 {
  font-family: "Adobe 宋体 Std L";
  font-size: 1.2em; }

.plaza-right-top {
  /*border: 1px solid #ccc;*/
  width: 260px; }

.plaza-right-top img {
  width: 79px;
  height: 107px;
  float: left; }

.plaza-right-top ul {
  padding: 5px;
  width: 170px;
  height: 107px;
  float: right; }

.plaza-right-top ul li {
  margin-top: 5px; }

.plaza-right-bottom li a {
  display: block;
  color: #333;
  margin-top: 10px;
  text-indent: 1em; }

/*footer*/
footer {
  width: 1366px;
  height: 188px;
  margin: 0 auto;
  background-color: #222222; }

.footer1 {
  position: relative;
  width: 1140px;
  height: 188px;
  margin: 0 auto; }

.footer1 div {
  float: left;
  margin-top: 40px;
  padding-left: 70px; }

.footer1 div ul {
  height: 70px;
  float: right; }

.logo1 ul {
  margin-left: 140px; }

.logo1 ul li,
.call ul li,
.weixin ul li {
  margin: 10px 5px; }

.logo1 ul li:nth-child(1) a,
.call ul li:nth-child(1) a,
.weixin ul li:nth-child(1) a {
  font-size: 1.5em; }

.call ul, .weixin ul {
  margin-left: 60px; }

.footer1 .logo1 p {
  float: left;
  position: absolute;
  width: 147px;
  height: 70px;
  background: url("../image/logoMsg.png") no-repeat; }

.footer1 .call p {
  float: left;
  position: absolute;
  width: 100px;
  height: 70px;
  background: url("../image/phoneIcon.png") no-repeat; }

.footer1 .weixin p {
  float: left;
  position: absolute;
  width: 50px;
  height: 70px;
  background: url("../image/f_wx.png") no-repeat; }

.footer1 .weixin p:hover {
  background: url("../image/f_wx_h.png") no-repeat; }

.footer1 div li a {
  color: #ffffff; }

#copy {
  width: 1140px;
  color: #ffffff;
  text-align: center;
  perspective: 1000px; 
}
